* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    cursor: default;
}
  
  body {
    font-family: $font-primary;
    font-size: $font-size-lg;
    line-height: 1.25;
    // background-color: $white;
    background-color: $background;
    // color: $brown;
  
    html,
    body,
    #root {
        height: 100%;
    }

    h1{
        font-family: $font-heading-one;
        font-size: $font-size-xxl;
    }


    h2{
        font-family: $font-heading-one;
        font-size: $font-size-xl;
    }
}