.section{
    min-height: 100vh;
    margin: auto $space-lg;
    font-size: $font-size-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3{
    font-family: $font-heading-two;
    font-size: $font-size-xl;
    color:$primary;
    font-weight: 600;
    text-align: center;

    @media(max-width: 768px){
        text-align: center;
    }



}

/* HOME */

.home{
    background-color: $white;
    margin: 0;
    position: relative;
    background-image: url('../assets/images/ChatGPT\ Image\ 12\ Haz\ 2025\ 03_28_35.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 768px){
        background-image: url('../assets/images/ChatGPT\ Image\ 12\ Haz\ 2025\ 03_28_35\ \(1\).png');
        background-repeat: no-repeat;
        background-size: cover;

    }

    &-text{
        font-family: $font-heading-one;
        color:$white;
        position: absolute;
        top: 60%;
        font-size:3rem;
    }

}

/* ------------------------- */




/* HİZMETLER */

#hizmetler {
 margin: $space-lg $space-lg;
 margin-bottom:3rem;
}

.hizmetler{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    
    @media(max-width: 768px){
        flex-wrap: wrap;
    }

     @media(max-width: 1350px){
        flex-wrap: wrap;
    }


    &-card{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: $space-md;
        background-color: $white;
        background-image: url('../assets/images/2148759093.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .75;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 5px 3px 5px 3px;
        width: 350px;
        height: 210px;
        margin: 1rem auto;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover{
        transform: translateY(-5px);
        // box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        opacity: .9;
        }

        &-title{
            font-size: $font-size-lg;
            color: $white;
            font-weight: bold;
        }
    }
}

/* -------------------------- */


/* EXPERTS */

.experts-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    color:$text-color;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin-top: 2rem;
        
    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    }

    & > img{
        width: 50%;
        border-radius: 100%;
    }

    &-text{
        line-height: 2rem;

        & > p{
            margin-bottom: 1.5rem;
            font-size: 1.7rem;
            font-family: $font-heading-two;
            font-weight: 500;
           
        }

        & > ul {
            font-weight: 400;
        }
    }
        
    }



/* -------------------------- */

/* OPTIONS */
.options{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem auto;
   
    @media(max-width: 768px){
        flex-wrap: wrap;
    }

     @media(max-width: 1350px){
        flex-wrap: wrap;
    }


    &-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: $space-md;
        background-color: $white;
        padding: 1.7rem;
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 210px;
        height: 210px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover{
        transform: translateY(-5px);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        text-decoration: underline;
       
        }

        &-title{
            font-size: $font-size-lg;
            color: $text-color;
            font-weight: bold;
            cursor: pointer;
        }

        &-image{
            width: 60%;
            cursor: pointer;
        }
    }

}

/* -------------------------- */

/* QUESTİONS */
.question-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    width: 80%;
    background-color: $white;
    border-radius: 20px;

    @media(max-width: 768px){
       width: 100%;
       flex-direction: column;
       margin-bottom: 2rem;
       gap: 30px;
       padding: 10px;
       
    }

    &-left{
        width: 50%;
        
        @media(max-width: 768px){
        width: 100%;
    }


    }

    &-right{
        display: flex;
        flex-direction: column;
        width: 50%;
        // align-items: center;
        // justify-content: center;
        gap: 50px;

        @media(max-width: 768px){
            width: 100%;
            gap: 20px;

            h3{
                font-size: 1.4rem;
            }
        }

        &-body{
            display: flex;
            flex-direction: column;
            border: 1px solid $gray;
            padding: 30px;
            border-radius: 10px;
            height: 100%;
            color: $text-color;
           

            @media(max-width: 768px){
            width: 100%;
            

        }


            & div{
                display:flex;
                flex-direction: column;
                margin-bottom: 15px;

                & > label{
                    color: $text-color;
                    font-weight: 500;
                }

                & > input{
                    width: 100%;
                    outline:1px solid $gray;
                    border-radius: 8px;
                    margin-top: 8px;
                    padding: 5px;
                }

                & > textarea{
                    width: 100%;
                    height: 80px;
                    outline:1px solid $gray;
                    border-radius: 8px;
                    resize: none;
                    margin-top: 8px;
                    padding: 5px;
                }
            }

             & button{
                width: 100%;
                margin-top: 10px;
            }
        }
            
    }

}


/* -------------------------- */


/* FAQS */

#faqs{
    background-color: $white;
    margin: 0;
    padding: 0;
    
    @media(max-width: 768px){
       h3{
        width: 100%;
        margin-top: 1rem;
        font-size:$font-size-lg;
       }
    }
    
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;

    @media(max-width: 768px){
        width: 100%;
    }
}

.faqs-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px 50px;
    justify-content: space-between;
    width: 100%;
    
    @media(max-width: 768px){
        flex-wrap: nowrap;
        flex-direction: column;
        min-height: 100vh;
        margin-bottom: 100px;
        padding: 20px;
    }

}

.faqs-question-container{
    display: block;
    width: calc(50% - 25px);
    padding: 10px 0 20px 0;
    border-bottom: 1px solid black;
    box-sizing: border-box;

    @media(max-width: 768px){
        width: 100%;
    }
}

.faqs-question-number{
    color:$primary;
    font-size: $font-size-lg;
}

.faqs-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    font-weight: 500;
    
}

.faqs-answer{
    color: $text-color;
    font-size: 1.1rem;
    padding-top: .5rem;
    padding-left: .3rem;
    width: 85%;
}


/* -------------------------- */




/* FOOTER */

.footer{
    position: relative;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: $text-color;
    color: $white;
    font-size: $font-size-base;

    & > p{
        position: absolute;
        bottom: 15px;
    }

}

/* -------------------------- */

/* EXPERT */

.expert-container{
    display: flex;
    gap: 2rem;

    &-image{
        width: 30%;
    }

    &-text{
       width: 60%;
    }

}




/* -------------------------- */

