@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
//Inter

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); //Open Sans

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
//Playfair Display

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); //lato

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); //lora


$font-primary: 'Open Sans', sans-serif;
$font-heading-one: 'Playfair Display' , serif;
$font-heading-two: 'Lora', serif;

$font-size-sm: 0.075rem;
$font-size-base:1rem;
$font-size-lg:1.25rem;
$font-size-xl:2rem;
$font-size-xxl:2.25rem;

$dark-moss-green: #606c38ff;
$pakistan-green: #283618ff;
$cornsilk: #fefae0ff;
$warm-grey:#f7f3ef;
$cream: #F2E9DC;
$brown:#3E3E3E;
$earth-yellow: #dda15eff;
$tigers-eye: #bc6c25ff;
$white:#fff;
$black:#000;
$gray:#D3D0CB;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-right: linear-gradient(90deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-bottom: linear-gradient(180deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-left: linear-gradient(270deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-top-right: linear-gradient(45deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-bottom-right: linear-gradient(135deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-top-left: linear-gradient(225deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-bottom-left: linear-gradient(315deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
$gradient-radial: radial-gradient(#606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);

/*SPACING*/
$space-xs: 0.25rem; 
$space-sm: 0.5rem;  
$space-md: 1rem;    
$space-lg: 1.5rem;  
$space-xl: 2.5rem; 